@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>.editorconfig Tools</h1>
    <p>Developer tools for .editorconfig files/</p>
</div>

<div class="container p-5 my-5 border">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Your Projects</h5>
            <ul class="card-text">
                @if (Model.UserProjects != null)
                {
                    @foreach (var project in Model.UserProjects)
                    {
                        <li>
                            @project.Name <a class="text-decoration-none" asp-page="OpenProject" asp-route-projectId="@project.Id">open</a>
                        </li>
                    }
                }
            </ul>
        </div>

    </div>
</div>