@page
@model OpenProject
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>.editorconfig Tools</h1>
    <p>Developer tools for .editorconfig files/</p>
</div>
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Project: </h1>
    <p>Resize this responsive page to see the effect!</p>
</div>